@import '_variables', '_font', '_colors';


.articles {
    &__link {
        @extend %links;
        color: $color_base;
    }
}

.article {
    //each article's wrap
    @include bradius();   
    display: $display;
    box-sizing: $box_sizing;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-right: 28px;
    margin-bottom: 10px;       



    &__pic {
        display: $display;
        margin-bottom: 20px;
        position: relative;
        

        &::before {
            @include bradius(0 0 6px 6px);
            position: absolute;
            left: 0;
            bottom: 0;
            height: 30%;
            width: 100%;
           
            content: "";
            background: linear-gradient(to bottom, transparent 10%, rgba(22, 22, 22, 0.637)) // background: rgba(0,0,0,0.15);
               
        }

        &::after {
            content: "";
            background-color: rgba(255, 255, 255, 0.1);
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            opacity: 0;
                    

        }


        &:hover::after {
            opacity: 1;
            transition: opacity 0.3s ease;
        }

        
        &_special01 {
            @extend %spec;
            background-image: url($imgs_L + '64.jpg');
        }

        &_special02 {
            @extend %spec;
            background-image: url($imgs_L + 'kak-proizvodit-dzhelato.png');
        }

        &_special03 {
            @extend %spec;
            background-image: url($imgs_L + 'mne-ochen-hotelos-takzhe.png');
        }
    }

    &__projectname {
        display: $display;
        color: $project_pink;
        font-family: $font-bold;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.12rem;
    }

    &__heading {
        @include width();
        display: inline-block;
        font-family: $font-bold;
        font-size: 20px;        
        position: relative;
        top: -15px;
    }

    
    &__lead {
        @include width();
        overflow: hidden;
        position: relative;
        top: -30px;
    }

   
}