@import '_variables', '_font', '_colors';

/*.articles {
   
    @include width();
    display: $display;
    flex-flow: row wrap;
    justify-content: flex-start;
    box-sizing: $box_sizing;
    @include padding(35px 0px 60px 60px);


    &__heading {
        //section's heading
        @include width();
        display: $display;
        //height: 34.6px;
        flex-flow: row nowrap;
        justify-content: center;
        font-family: $font-bold;
    }

    &__more {
        //'read more' link
        @include size(1160px, 50px);
        @include bradius();
        display: $display;
        justify-content: center;
        align-items: center;
        border: 1px solid $more_border;
        text-align: center;
        background-color: $white;

        &:hover {
            cursor: $cursor;
            background-color: $more_blue;
        }
    }

    &__item {
        //article's wrap
        @include bradius();
        //@include padding(0 30px 30px 0);
        display: $display;
        //box-sizing: $box_sizing;
        flex-flow: column nowrap;
        justify-content: flex-start;
        margin-right: 28px;
        margin-bottom: 28px; 
        //background: orange; 
        //border: 1px solid red;      

    }
}
*/
.articles {
    &__link {
        //display: flex;
        @extend %links;
        color: $color_base;
    }
}

.article {
    //each article's wrap
    @include bradius();   
    display: $display;
    box-sizing: $box_sizing;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-right: 28px;
    //margin-bottom: 28px;
    //background: orange; 
    //border: 1px solid red;     



    &__pic {
        display: $display;
        margin-bottom: 20px;
        position: relative;
        //border: 1px solid purple;

        &::before {
            @include bradius(0 0 6px 6px);
            position: absolute;
            left: 0;
            bottom: 0;
            height: 30%;
            width: 100%;
            //border: 1px solid rebeccapurple;
            content: "";
            background: linear-gradient(to bottom, transparent 10%, rgba(22, 22, 22, 0.637)) // background: rgba(0,0,0,0.15);
                //filter: blur(10px);
        }

        &::after {
            content: "";
            background-color: rgba(255, 255, 255, 0.1);
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            opacity: 0;
            //z-index: -1;           

        }


        &:hover::after {
            //filter:drop-shadow(0px 0px 100px grey);
            //filter:  brightness(120%) saturate(80%);
            opacity: 1;
            transition: opacity 0.3s ease;
        }

        //&:hover {
        //   filter: brightness(120%) saturate(80%);
        // //transition: opacity 0.2s ease-in-out;            
        // cursor: $cursor;
        // }

        &_special01 {
            @extend %spec;
            background-image: url($imgs_L + '64.jpg');
        }

        &_special02 {
            @extend %spec;
            background-image: url($imgs_L + 'kak-proizvodit-dzhelato.png');
        }

        &_special03 {
            @extend %spec;
            background-image: url($imgs_L + 'mne-ochen-hotelos-takzhe.png');
        }
    }

    &__projectname {
        display: $display;
        color: $project_pink;
        font-family: $font-bold;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.12rem;
    }

    &__heading {
        @include width();
        display: inline-block;
        font-family: $font-bold;
        font-size: 20px;
        //max-height: 52px;
        //border: 1px solid green;
        //overflow: hidden;
        position: relative;
        top: -15px;
    }

    /*&__heading-blurred {
        &::after {
            content: '';
            position: absolute;
            //display: inline-block;
            background: linear-gradient(to right, transparent 0%, white 50%, white 100%);
            width: 30px;
            height: 16px;
            bottom: 2px;
            right: 30px;
            border: 1px solid orange;
        }
    }*/

    &__lead {
        @include width();
        //font-size: 15px;
        //font-weight: normal;
        //display: $display;
        //height: 30px;
        overflow: hidden;
        position: relative;
        top: -30px;
    }

    /*&__lead-blurred {
        &::after {
            content: '';
            position: absolute;
            display: flex;
            background: linear-gradient(to right, transparent 0%, white 50%, white 100%);
            width: 30px;
            height: 11px;
            top: 5px;
            right: 40px;
        }
    }*/
}