@import '_variables', '_colors';

.content {
    @include width();   
    display: $display;
    flex-flow: column nowrap;
    align-items: center;

    &__section {
        @include padding(40px 20px 40px 40px);
        @include width();
        display: $display;
        box-sizing: $box_sizing;
        flex-flow: column nowrap;
        align-items: center;
        border-bottom: 1px solid $border-color;

        &_highlighted {
            background-color: $articles_backgr;
        }
    }
}

.section {
    &__heading {
        @include width();
        display: $display;
        flex-flow: row nowrap;
        justify-content: center;
        font-family: $font-bold;

        &:hover {
            cursor: text;
        }
    }

    &__articles {
        //row of articles      
        
        max-width: 1300px;
        @include padding(0 30px 0 60px);
        box-sizing: $box_sizing;
        display: $display;       
        flex-flow: row wrap;
    }

    &__more {
        @include size(1160px, 50px);
        @include bradius();
        display: $display;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        border: 1px solid $more_border;
        background-color: $white;

        &:hover {
            cursor: $cursor;
            background-color: $more_blue;
        }
    }
}