@import '_variables', '_font', '_colors', '_mix';

.footer {
    @include width();
    box-sizing: $box_sizing;
    display: $display;
    flex-flow: column nowrap;
    align-items: stretch;
    background-color: $color_base;
    color: $footer_grey;

    &__nav {
        @include width();
        @include padding(40px 0);
        display: $display;
        height: 84px;
        box-sizing: $box_sizing;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px -1.5px 0 0 $med_grey;
        //border: 1px solid red;;
    }

    &__copyright {
        @include width(1300px);
        @include padding(70px 30px);
        align-self: center;
        box-sizing: $box_sizing;
        display: $display;
        flex-flow: row nowrap;
        height: 174px;
        align-items: center;
        justify-content: flex-start;
        line-height: 1.5;
        //border: 1px solid red;
    }
}

.links-box {
    display: $display;
    @include width(1300px);
    @include padding(0 30px);
    box-sizing: $box_sizing;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    //border: 1px solid red;




    &__work {
        display: $display;
        align-items: center;
        //border: 1px solid red;
    }

    &__social {
        display: $display;
        align-items: center;
        //border: 1px solid red;
    }
}

.org {
    &__link {
        color: $footer_grey;
        margin-right: 35px;
        @extend %links;
    }
}

.social {
    &__icon {
        display: $display;
        @include size(20px, 20px);
        @extend %icon;
        margin-right: 24px;


        &:hover {
            cursor: $cursor;
        }

        &:active {
            cursor: $cursor;
        }

        
    &_yt {
        background-image: url($icons + 'youtube_gr.png');

        &:hover {
            background-image: url($icons + 'youtube_w.png');
        }
    }

    &_tel {
        background-image: url($icons + 'telegram_gr.png');

        &:hover {
            background-image: url($icons + 'telegram_w.png');
        }
    }

    &_inst {
        background-image: url($icons + 'instagram_gr.png');

        &:hover {
            background-image: url($icons + 'instagram_w.png');
        }
    }

    &_face {
        background-image: url($icons + 'facebook_gr.png');

        &:hover {
            background-image: url($icons + 'facebook_w.png');
        }
    }

    &_vk {
        background-image: url($icons + 'vk_gr.png');

        &:hover {
            background-image: url($icons + 'vk_w.png');
        }
    }
    }

}