@import '_variables', '_font', '_colors';

.header {
    @include width();
    display: $display;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    font-family: $font-norm;

    &__banner {
        @include size(1900px, 90px);
        align-self: center;
        display: $display;
        background-image: url($banners +'60.jpg');
        background-repeat: no-repeat;
        background-size: 101%;
        background-position: center;
        cursor: $cursor;

    }

    &__nav {
        @include width();
        display: $display;
        flex-flow: column nowrap;
    }
}

.nav-bulleted {
    @include size(100%, 44px);
    display: $display;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;    
    background-color: $d_grey;
    


   
    &__links {
        @include width(1400px);
        display: $display;
        list-style: none;
        text-transform: uppercase;
        font-size: 12px;
    }
}

.bulleted-links {
    &__link {
        margin-right: 10px;
        font-size: 10px;
        letter-spacing: 0.12rem;
        text-decoration: none;
        position: relative;
        left: -10px;
    }
}

.navlink-active {
    color: $white;
    @extend %links;

    &::before {
        content: "\2022";
        display: inline-block;
        position: absolute;
        top: -6px;
        left: 46px;
        color: $red;
        font-size: 20px;
        
    }

}

.nav-wrap {
    width: 100%;
    display: $display;
    justify-content: center;
}

.nav-projects {
    @include size(1400px, 90px);   
    @include padding(20px 0px);
    box-sizing: $box_sizing;   
    display: $display;
    align-self: center;    
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border-bottom: 1px solid $border_color;
   

    &__links {
        @include width(575px);        
        display: $display;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        left: 30px;
        
    }




    &__searchbox {
        @include width(480px);
        display: $display;
        justify-content: flex-end;
        position: relative;
    }
}

.projects {
    &__logo {
        @include size(285px, 38px);
        //border: 1px solid black;
        display: $display;
        background-image: url($banners +'logo-wbz.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        margin-right: 112px;
    }

    &__links {
        @include width(170px);
        //border: 1px solid black;
        display: $display;
        flex-flow: row nowrap;
        justify-content: space-between;
    }


}

/*
.project-links {
    @include width(200px);
    //border: 1px solid black;
    display: $display;
    flex-flow: row nowrap;
    justify-content: space-between;

    &__link {
        color: $med_grey;
        text-decoration: none;
    }
}*/

.search {
    @include size(250px, 40px);
    @include padding(0 20px);
    box-sizing: $box_sizing;
    display: $display;  
    outline: none;
    border: 1px solid $border_color;
    border-radius: 20px;
    transition: width 0.3s ease-in-out;

    &:hover {
        cursor: text;
        border: 1px solid $border_focused;
    }

    &:focus {
        width: 350px;
        cursor: text;
        border: 1px solid $border_focused;
    }

    &::placeholder {
        display: flex;
        font-size: 14px;
        letter-spacing: 0.5px;        
    }

    &__icon {
        position: absolute;
        top: 12px;
        right: 15px;
        width: 16px;
    }
}

.project-link {
    @extend %links;
    color: $color_base;
}