@import '_colors', '_variables';

.link-white {
    &:hover {
        color: $white;
    }
}

.link-blue {
    &:hover {
        color: $link_blue;
    }
}

.font-base {
    font-size: 15px;
    font-weight: normal;

}

.font-bold {
    font-weight: bold;
}

.heading-Xlarge {
    font-size: 50px;

}

.heading-medium {
    font-size: 20px;
}

.heading-large {
    font-size: 30px;

}

.heading-small {
    font-size: 20px;
    font-weight: normal;

}

.heading-promo {
    margin-bottom: 0px;
    font-family: $font-bold;
}

.border {
    box-shadow: -1.5px 0 0 0 #ebebeb;
}

.border-top {
    border-top: 1px solid $border-color;
}



.blur-js {
    display: inline-block;
}

.cut {

    mask: linear-gradient(-90deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 90%);
    -webkit-mask: linear-gradient(-90deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 90%);


}