@import '_variables', '_font', '_colors';
.news {   
    display: $display;

    &__block {
        @include padding(15px 0);
        display: $display;
        box-sizing: $box_sizing;       
        flex-flow: row nowrap;
        justify-content: space-between;        
        align-items: flex-start;
        border-bottom: 1px solid $border_color;             
    }
    &__block-heading {
        @extend %links;
        color: $color_base;
        box-sizing: $box_sizing;   
        @include padding(10px 0);
        text-transform: uppercase;        
        font-family: $font-bold;
        letter-spacing: 0.1rem;
    }
}                 


.block {
    &__txt {       
        @include width(300px);
        display: $display;
        flex-flow: column nowrap;
        font-size: 16px;
        text-align: left;
    }

    &__time {        
        display: $display;
        box-sizing: $box_sizing;    
        font-size: 10px;
        color: $news_blue;
        

    }
}


.newslink {
    @extend %links;
    color: $color_base;    
    font-family: $font-bold;   
}