@import '_variables', '_font', '_colors';

.pic-block {
    display: $display;
    font-family: $font-bold;


    &__img {
        @include width();
        @include bradius();
        display: $display;   
    }

    &__heading {
        height: 200px;
        display: $display;
        flex-flow: column nowrap;
        color: $white;
        position: absolute;
        bottom: 70px;
        left: 20px;
        font-family: $font-norm;
        line-height: 1;
    }


    &__txt {
        display: $display;
        position: absolute;
        bottom: 15px;
        left: 20px;
        flex-flow: row nowrap;
        align-items: center;  
    }
}



.stat {
    display: $display;
    color: $icon_grey;  

    &__icon {
        @include width(10px);
        display: $display;
        margin-right: 5px;
    }

    &__txt {
        display: $display;
        font-size: 11px;
        font-weight: bold;
        color: $white; 
        margin-right: 10px;
    }
}

.pic-heading {
    margin-bottom: 20px;
}