@import '_variables', '_font', '_colors';

.promo {
    display: $display;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: $box_sizing;
    background-color: $l_blue;
    box-shadow: inset 0px -1.5px 0 0 #ebebeb;
    //border: 1px solid orange;

    &__header {
        @include size(103%, 250px);
        @include padding(30px 0 0px 30px);
        display: $display;
        box-sizing: $box_sizing;        
        flex-flow: column nowrap;  
        //border: 1px solid red;
    }

    &__links {
        @include width();
        //height: 128px;
        @include padding (5px 5px 5px 5px);
        display: $display;
        box-sizing: $box_sizing;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
       // border: 1px solid green;
        //margin-top: 5px;
    }
}

.promo-link {
    @include padding(20px 25px 20px 20px);
    display: $display;
    box-sizing: $box_sizing;
    margin-top: 5px;
    text-decoration: none;
    color: $color_base;
    font-size: 16px;
    letter-spacing: 0.05rem;    
}