@import '_header', '_content', '_font', '_colors', '_footer', '_size', '_variables', '_mix', '_articles', '_news', '_pics', '_promo';

body {
    margin: 0 auto;
    color: $color_base;
    font-family: $font-norm;

    .wrapper {
        display: $display;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        background-color: $white;
    }
}