@charset "UTF-8";
@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.eot");
  src: local("Futura PT Book"), local("FuturaPT-Book"), url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Demi";
  src: url("FuturaPT-DemiObl.eot");
  src: local("Futura PT Demi Oblique"), local("FuturaPT-DemiObl"), url("FuturaPT-DemiObl.eot?#iefix") format("embedded-opentype"), url("FuturaPT-DemiObl.woff") format("woff"), url("FuturaPT-DemiObl.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
.header {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
.header__banner {
  width: 100%;
  display: flex;
  height: 134px;
  background-image: url("https://womenbz.ru/static/adv_header/promo_header/74.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
}
.header__nav {
  width: 100%;
  display: flex;
}

.nav-bulleted {
  padding: 28px 0px 30px 45px;
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  background-color: #222222;
  list-style: none;
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
}
.nav-bulleted__link {
  margin-right: 10px;
}
.nav-bulleted__link_active {
  color: #ff231e;
}
.nav-bulleted__link_active::before {
  content: "•";
  display: inline-block;
  position: absolute;
  right: -15px;
  top: 2px;
}

.topic-navlinks__link:hover {
  cursor: pointer;
}

.nav-projects {
  width: 100%;
  height: 134px;
  padding: 36px 45px 40px 45px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
}
.nav-projects__logo {
  width: 435px;
  display: flex;
  background-image: url("https://womenbz.ru/src/assets/logo-wbz.svg");
  background-size: 435px 57px;
  background-repeat: no-repeat;
}
.nav-projects__links {
  width: 266px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-left: 166px;
}
.nav-projects__searchbox {
  width: 480px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.project-links__link {
  margin-left: 40px;
}

.search {
  width: 375px;
  height: 58px;
  padding: 20px;
  display: flex;
  outline: none;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  transition: width 0.3s;
}
.search:hover {
  cursor: text;
  border: 1px solid #cecece;
}
.search:focus {
  width: 480px;
  cursor: text;
  border: 1px solid #cecece;
}
.search::placeholder {
  display: flex;
}
.search__icon {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 14px;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.eot");
  src: local("Futura PT Book"), local("FuturaPT-Book"), url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Demi";
  src: url("FuturaPT-DemiObl.eot");
  src: local("Futura PT Demi Oblique"), local("FuturaPT-DemiObl"), url("FuturaPT-DemiObl.eot?#iefix") format("embedded-opentype"), url("FuturaPT-DemiObl.woff") format("woff"), url("FuturaPT-DemiObl.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.eot");
  src: local("Futura PT Book"), local("FuturaPT-Book"), url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Demi";
  src: url("FuturaPT-DemiObl.eot");
  src: local("Futura PT Demi Oblique"), local("FuturaPT-DemiObl"), url("FuturaPT-DemiObl.eot?#iefix") format("embedded-opentype"), url("FuturaPT-DemiObl.woff") format("woff"), url("FuturaPT-DemiObl.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
.footer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: #222222;
  color: #c2b69c;
}
.footer__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-shadow: inset 0px -1.5px 0 0 #ebebeb;
  border: none;
}
.footer__copyright {
  width: 820px;
  padding: 70px 80px;
  display: flex;
  flex-flow: row nowrap;
}

.links-box {
  display: flex;
}
.links-box__work {
  display: flex;
}
.links-box__social {
  display: flex;
}

.org__link {
  margin-right: 35px;
}
.org__link:hover {
  cursor: pointer;
}

.social__link {
  margin-right: 30px;
}
.social__link:hover {
  cursor: pointer;
}
.social__icon {
  width: 30px;
}
.social__icon:hover {
  cursor: pointer;
}

.article__pic-2Xlarge {
  width: 1740px;
  height: 600px;
  display: flex;
}

.article__pic-Xlarge {
  width: 1030px;
  height: 825px;
  display: flex;
}

.article__pic-large {
  width: 650px;
  height: 490px;
  display: flex;
}

.article__pic-medium {
  width: 670px;
  height: 300px;
  display: flex;
}

.article__pic-small {
  width: 310px;
  height: 300px;
  display: flex;
}

.article__pic-special {
  width: 0px;
  height: 0px;
  display: flex;
}

.articles__item-2Xlarge {
  width: 1740px;
}

.articles__item-Xlarge {
  width: 1030px;
}

.articles__item-large {
  width: 650px;
}

.articles__item-medium {
  width: 670px;
}

.articles__item-small {
  width: 310px;
}

.articles__item-special {
  width: 310px;
}

body {
  margin: 0 auto;
  color: #333333;
}
body .wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
body .wrapper .main-content {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  padding: 60px 20px 0px 90px;
}

/*# sourceMappingURL=main.css.map */
