@import '_variables', '_font', '_colors';

.header {
    &__banner {
        display: $display;
    }
    &__nav {
        display: $display;
    }
}

.nav-bulleted {
    &__link {
        display: $display;
    }
    &__link_active {
        display: $display;
    }
}

.topic-navlinks {
    &__link {
        display: $display;
    }
}

.nav-projects {
    &__logo {

    }
    &__links {

    }
    &__searchbox {

    }
}

.project-links {
    &__link {

    }
}

.link-blue {

}

.search {
    &__icon {

    }
}           


