@import '_variables', '_font', '_colors';

.header {
    display: $display;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: $box_sizing;

    &__banner {
        display: $display;
    }

    &__nav {
        display: $display;
    }
}

.nav-bulleted {
    display: $display;
    box-sizing: $box_sizing;
    padding: 28px 0px 30px 45px;

    &__link {
        
    }
    &__link_active {
    }
}

.topic-navlinks {
    display: $display;
    box-sizing: $box_sizing;
    padding: 36px 45px 40px 45px;

    &__link {
        display: $display;
    }
}

.nav-projects {
    &__logo {

    }
    &__links {

    }
    &__searchbox {

    }
}

.project-links {
    &__link {

    }
}

.search {
    &__icon {

    }
}           


