@import '_variables';

.article__pic-2Xlarge {
    @include size(1740px, 600px);
    display: $display;
}

.article__pic-Xlarge {
    @include size(1030px, 825px);
    display: $display;
}

.article__pic-large {
    @include size(650px, 490px);
    display: $display;
}

.article__pic-medium {
    @include size(670px, 300px);
    display: $display;
}

.article__pic-small {
    @include size(310px, 300px);
    display: $display;
}

.article__pic-special {
    @include size(0px, 0px);
    display: $display;
}


.articles__item-2Xlarge {
    @include width(1740px);
}

.articles__item-Xlarge {
    @include width(1030px);
}

.articles__item-large {
    @include width(650px);
}

.articles__item-medium {
    @include width(670px);
}

.articles__item-small {
    @include width(310px);
}