@import '_variables';

.article__pic-2Xlarge {
    @include size(1160px, 400px);
}

.article__pic-Xlarge {
    @include size(684px, 550px);
}

.article__pic-large {
    @include size(448px, 325px);
}

.article__pic-medium {
    @include size(448px, 200px);
}

.article__pic-small {
    @include size(208px, 200px);
}

.articles__item-2Xlarge {
   width: 1160px;
}

.articles__item-promo {
    width: 752px;
}

.articles__item-Xlarge {
    width: 684px;
}

.articles__item-large {
    width: 448px;
}

.articles__item-medium {
    width: 448px;
}

.articles__item-small {
    width: 208px;
}
