@import '_header', '_variables', '_font', '_colors';

body {
    margin: 0 auto;
    color: $base_font;

    .wrapper {
        display: $display;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;


        .main-content {
            display: $display;
            flex-flow: column nowrap;
            box-sizing: $box_sizing;
            padding: 60px 20px 0px 90px;
        }

    }
}