@import '_header', '_font', '_colors', '_footer', '_size', '_variables', '_mix', '_articles', '_news', '_pics', '_promo';

body {
    margin: 0 auto;
    color: $color_base;

    .wrapper {
        display: $display;
        flex-flow: column nowrap;
        justify-content: flex-start;


        .content {
            @include width();
            @include padding(40px 20px 0px 60px);
            display: $display;
            flex-flow: column nowrap;
            box-sizing: $box_sizing;
            align-items: flex-start;
            justify-content: flex-start;
        }

    }
}